*
    box-sizing: border-box
.price
    display: flex
    padding: ( 5px / 2 )
    
.price__block
    flex-basis ( 100% )
    display flex
    flex-wrap: wrap
    justify-content: center
    gap ( 10px / 2 )

.price__block__content
    display flex
    flex-basis ((100% / 2) - 1px);
    flex-wrap: nowrap
    justify-content: center
    align-items: center
    gap 5px
    
    div 
        display flex
        justify-content: center
        align-items: center

.content__img
    flex-basis (100% /4)
    img
        max-width: 80px

.content__title
    flex-basis (100% /2)

.content__button
    flex-basis (100% /4)
